.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.footer-logo {
  margin: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo:hover {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-image: url("../src/images/schumacher-banner.jpg"); /* The image used */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.schumi_quote {
  position: relative;
  margin: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Flex box styling */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #282c34;
  width: 100%;
}

.flex-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: azure;
  width: 100%;
  margin: 0.5em;
}

.flex-container h2 {
  margin: 1.5%;
}

a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}

.car-image img {
  margin: 1%;
  width: 80%;
}

.pilot-image img {
  margin: 5%;
  width: 50%;
  border-radius: 25%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #282c34;
    width: 100%;
  }

  .flex-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    width: 180px;
  }

  .car-image img {
    visibility: hidden;
  }

  .schumi_quote {
    visibility: hidden;
  }
  
  .App-header {
    background-image: none;
    background-color: #282c34;
  }
  
  .title {
    font-size: larger;
  }
}
