.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.footer-logo {
  margin: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('../src/images/schumacher-banner.jpg'); /* The image used */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Flex box styling */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #282c34;
}

.flex-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: azure;
  width: 20em;
  margin: 1em;
  border-radius: 5%;
}

.flex-container h2 {
  margin: 2%;
}

.pilot-image img {
  margin: 1%;
  width: 12em;
  height: 12em;
  border-radius: 100%;
}

a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}
